*{
    font-family: "Italiana";
    letter-spacing: 2px;
    text-align: center;
}

body{
    background-image: none;
    background-color: rgb(202, 223, 226);
}

nav{
    width: 100%;
    position: fixed;
    text-align: center;
    z-index: 1;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgb(172, 172, 172);
    background-image: url('../assets/container-background.png');
}

h2{
    color: rgb(82, 125, 134);
    font-size: 175%;
}

p{
    font-family: 'Didact Gothic';
    font-weight: bold;
    line-height: 2;
}

a{
    color: rgb(82, 125, 134);
    text-decoration: none;
    font-weight: bold;
}

ul{
    list-style-type: none;
    padding: 0;
}

h1{
    font-size: 250%;
}

.container{
    border-radius: 4px;
    background-image: url('../assets/container-background.png');
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.link{
    font-size: 125%;
}

.borders{
    border-right: 1px solid rgb(82, 125, 134);
    border-left: 1px solid rgb(82, 125, 134);
}

.nav-spacing{
    list-style-type: none;
    display: inline-block;
    font-size: 125%;
}

.link:hover{
    color: rgb(5, 53, 50);
    transition-duration: 0.4s;
}

.description{
    color: rgb(94, 94, 94);
    text-align: left;
}

.skills-logo{
    height: 45px;
}

.app-screenshot{
    max-width: 100%;
    max-height: 400px;
}

.nav-list-item{
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px; 
}

.logo{
    color: rgb(94, 94, 94);
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact{
    text-align: center;
}

.app-description{
    text-align: left;
}

#hero-shot{
    max-width: 400px;
    border-radius: 4px;
}

#bio{
    align-self: center;
    margin: 0 auto;
}

#subheader{
    color: rgb(94, 94, 94);
    margin: 32px;
    padding-left: 3px;
}

#header{
    font-size: 300%;
    padding-top: 0;
    border-right: 1px solid rgb(95, 167, 182);
    border-left: 1px solid rgb(95, 167, 182);
    color: rgb(94, 94, 94);
    margin: 32px;
    padding-left: 10px;
    padding-right: 10px;
}

#email{
    font-size: 125%;
    color: rgb(82, 125, 134);
}

#hero{
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}

#header-container{
    width: 100%;
    padding: 10px;
}

#bio-header{
    font-size: 250%;
    text-align: center;
    margin: 32px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 32px;
}

#bottom{
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
    margin-top: 0;
    padding-bottom: 40px;
}

#middle{
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#top{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
}

#footer{
    text-align: center;
    margin: 0;
    display: inline-block;
}

#copyright-symbol{
    max-width: 10px;
}

#left{
    display: inline-block;
    font-family: 'Didact Gothic';
    font-weight: bold;
    line-height: 2;
    color: rgb(94, 94, 94);
}

#right{
    display: inline-block;
    font-family: 'Didact Gothic';
    font-weight: bold;
    line-height: 2;
    color: rgb(94, 94, 94);
}

#center{
    display: inline-block;
    font-family: 'Didact Gothic';
    font-weight: bold;
    line-height: 2;
    color: rgb(94, 94, 94);
}

#footer-container{
    padding: 0;
}

.footer-span{
    color: rgb(82, 125, 134);
    font-weight: bold;
}

@media only screen and (min-width: 641px) {
    
    .border-link{
        border: 1px solid rgb(184, 212, 218);
        border-radius: 4px;
        padding: 3px;   
    }

    .border-link:hover{
        border: 1px solid rgb(82, 125, 134);
    }
    body{
        background-image: url('../assets/architectural-design-architecture-buildings-1049302.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100%;
        background-color: white;
    }

    #bottom, #middle{
        display: flex;
    }
    .app-description{
        margin: auto;
    }

    #bio-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #hero-shot{
        align-self: center;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 640px){
    .app-description{
    text-align: center;
    }

    .app-screenshot{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #hero-shot{
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .description{
        text-align: justify;
        padding-left: 5px;
        padding-right: 5px;
    }

    .contact{
        text-align: center;
    }
}